<form 
[formGroup]="userForm"
class="custom-form" 
(ngSubmit)="onSubmit()">
  <div class="form-title">
    <h1>Sign-up</h1>
  </div>

  <div class="form-group-wrapper">
    <div 
    class="form-group" 
    *ngFor="let field of formFields">
      <label>{{ field.label }}</label>
      <input 
      [type]="field.type" 
      [formControlName]="field.name">
      
      <span *ngFor="let e of field.validation">
        <span
        class="input-error"
        *ngIf="e.errorTrigger(userForm)"
        [innerHTML]="e.errorText">
        </span>
      </span>
    </div>

    <div class="form-group">
      <label>Country</label>
      <select hidden formControlName="country"></select>

      <adi-dropdown 
      [options]="countries" 
      (selected)="setCountry($event)"></adi-dropdown>
    </div>

    <button 
    class="btn btn-info" 
    type="submit">Sign Up</button>
  </div>
</form>