@keyframes emerge {
  from {opacity: 0; transform: scale(0.97, 0.97);}
  to {opacity: 1; transform: scale(1, 1);}
}

@keyframes collapse {
  from {opacity: 1; transform: scale(1, 1);}
  to {opacity: 0; transform: scale(0.95, 0.95);}
}

.drop-container {
  position: relative;
  width: 100%;
  min-height: 2.125rem;
  max-height: 2.125rem;
  padding: 0 1rem;
  color: #444;
  font-size: 0.85rem;
  line-height: 2.125rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease, 
  border-color 0.2s;
  user-select: none;
  outline: none;
}

.drop-container
.material-icons {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  color: #555;
  font-size: 1.3rem;
}

.drop-container:focus {
  border-color: rgba(41, 151, 255, 0.7);
}

.option-list {
  position: absolute;
  left: 0;
  width: 100%;
  min-height: inherit;
  max-height: 13.55rem;
  padding: 0.4rem 0;
  background-color: #fff;
  animation: emerge 0.3s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
  0 1px 20px rgba(136, 136, 136, 0.3);
  user-select: none;
  overflow: auto;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  z-index: 2;
}

.option-list::-webkit-scrollbar {
  display: none;
}

.option-list .scrollbar {
  display: block;
  position: absolute;
  right: 0.4rem;
  top: 0;
  width: 3px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.collapse {
  animation: collapse 0.3s ease-in-out forwards !important;
}

.option-list li {
  display: list-item;
  text-align: -webkit-match-parent;
  width: 100%;
  height: 2.125rem;;
  padding: 0 1rem;
  color: #444;
  font-size: 0.85rem; 
  line-height: 2.125rem;
  cursor: pointer;
}

.option-list li:hover:not(.active),
.option-list li:focus:not(.active) {
  background-color: #eee;
}

.active {
  background-color: #eee;
}