html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body, html {
  height: 100%;
  overflow: hidden;
}

body {
  background: #444 url('./assets/img/background.jpg') 
  center center/cover no-repeat fixed;
}

body::after {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 20px 20px 160px rgba(0, 0, 0, 0.7),
  inset -20px -20px 160px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  color: #333;
  font-size: 0.85rem;
  white-space: nowrap;
  border: none;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease,
  box-shadow 0.2s ease-in-out;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.btn:disabled {
  opacity: 0.6;
  cursor: default;
}

.btn:hover:not(:disabled) {
  background-color: #bbb;
}

.btn-xl {
  width: 100%;
}

.btn-clear {
  color: #636f75;
  background-color: #fff;
}

.btn-clear:hover:not(:disabled) {
  background-color: #ddd;
}

.btn-dark {
  color: #eee;
  background-color: #2e2f36;
}

.btn-dark:hover:not(:disabled) {
  background-color: #34353d !important;
}

.btn-danger {
  color: #fff;
  background-color: #f84538;
}

.btn-danger:hover:not(:disabled) {
  background-color: #dd1608 !important;
}

.btn-danger:focus:not(:disabled) {
  box-shadow: 0 0 0 3px rgba(255, 91, 91, 0.4);
}

.btn-info {
  color: #fff;
  background-color: #2997ff;
}

.btn-info:hover:not(:disabled) {
  background-color: #0084ff !important;
}

.custom-form {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  animation: appear 0.3s ease-in-out;
}

.form-title {
  width: 100%;
  padding: 2.5rem 1.2rem 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #2997ff;
  user-select: none;
}

.form-title > * {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
}

.form-group-wrapper {
  padding: 2rem 1.2rem 1.2rem;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 0.9rem;
  
}

.form-group input, 
.form-group select, 
.form-group textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #444;
  font-size: 0.85rem;
  border: none;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease-in-out, 
  border-color 0.2s;
  outline: none;
}

.form-group input:focus, 
.form-group select:focus, 
.form-group textarea:focus {
  border-color: rgba(41, 151, 255, 0.7);
}

.ng-touched.ng-invalid:not(.custom-form) {
  border-color: rgba(240, 27, 27, 0.5) !important;
  background-color: #fff4f4;
}

.input-error {
  position: absolute;
  left: 0;
  bottom: -1.2rem;
  color: #f01b1b;
  font-size: 0.75rem;
  animation: appear 0.4s ease-in-out;
  user-select: none;
}
